<h1>Testing</h4>


<%= "You picked #{@player_pick}" %>
</br>

<%= "The computer picked #{@computer_guess}" %>
</br>

<%= "You #{@winner}" %>

</br>
<%=link_to "Let's play a new game", new_rps_game_path %>
