<h1>Welcome to Rock, Paper, Scissors!</h1>

<p>To play this game, all you have to do is select rock, paper or scissors.  Following traditional rules, if you beat the computers pick, you win!</p>

<br/>

<h2>Chose Rock, Paper or Scissors:<h2>


  <% @computer_guesses.each do |number| %>
    <% if number == 0 %>
      <%= link_to image_tag("rock_paper_scissors/rock.jpg"), rps_game_path(number) %>
    <% elsif number == 1 %>
      <%= link_to image_tag("rock_paper_scissors/paper.jpg"), rps_game_path(number) %>
    <% elsif number == 2 %>
      <%= link_to image_tag("rock_paper_scissors/scissors.jpg"), rps_game_path(number) %>
    <% end %>
  <% end %>
