<h1>Welcome to BEWD Games!</h1>

<div><%= link_to image_tag("games/secret-number.jpg"), new_secret_number_path %></div>
</br>
<div><%= link_to image_tag("games/rock-paper-scissors.jpg"), new_rps_game_path %></div>
