<style type="text/css">
body {
    overflow:hidden;
    padding-top: 235px;
}
</style>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4"><h1><strong>Welcome to Music Master.</strong></h1></div>
  <div class="col-md-4"></div>
</div>
<div class="row">
</div>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div style="font-family: 'Poiret One', cursive;">
  <%=link_to "EXPLORE SONGS", songs_path, class: 'btn btn-primary btn-lg btn-block' %>
  </div>
  </div>
  <div class="col-md-4"></div>
</div>





