<h1>Artists Page</h1>
<h3>Here are all of the Artists</h3>
<% @artists.each do |artist| %>
<!-- <ul>Name: <%= artist.name %></ul> -->
<ul><%=link_to artist.name, artist_path(artist)  %></ul>
<% end %>

<%= link_to "Add Artist", new_artist_path %>
