@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background: url('White-christmas-light-background.jpg') no-repeat 0 0 #111;
  background-size: cover;
}

tr {
	background-color: rgba(0,0,0,0.2);
}