<body bgcolor = #DB4D4D>
<center><font face = "arial" color = "white">
  <h1>Womp womp, you lose!</h1>
  <h4>I picked <%=@app_throw%> and beat your <%=@user_throw%>.</h4>
  <p><%= image_tag 'games/loser.gif' %></p>
</center></font>
</body>
