<body bgcolor = #66999>
<font face = "arial" color = "white"><center>
  <h1>You didn't win, but you didn't lose...</h1>
  <h4>I picked <%=@app_throw%> and so did you. Tie!</h4>
  <p><%= image_tag 'games/loser.gif' %></p>
</center></font>
</body>
