<body bgcolor = #33AD5C>
<font face = "arial" color = "white"><center>
  <h1>YAY! YOU WON!</h1>
  <h4>I picked <%=@app_throw%> and you beat me with <%=@user_throw%>.</h4>
  <p><%= image_tag 'games/cat-wins.gif' %></p>
</center></font>
</body>
