<h1>Sorry, you lose...</h1>
<h4>The computer chose <%= image_tag "rock_paper_scissors/#{@computer_tool}.jpg" %></h4>
<p><%= image_tag 'games/loser.gif' %></p>

<!-- paper = 1; rock = 2; scissors = 3 -->
