<h1>Welcome to BEWD Games!</h1>

<div class="flex-container">
  <%= link_to image_tag("games/secret-number.jpg"), new_secret_number_path, class: "round" %>
  <%= link_to image_tag("games/rock-paper-scissors.jpg"), new_rock_paper_scissor_path, class: "round" %>
</div>
