@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Poiret+One);

// Adding the theme that has a background image and fixed-top nav bar; more styling in _main_nav file in /layouts

body {
    padding-top: 50px;
    margin-top: 50px; 
    background: url('https://c1.staticflickr.com/9/8048/8150226697_6fa887c67f_k.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

// Making h1 text white

h1 { 
	font-family: 'Poiret One', cursive;
	color: white;

 }

// A div class to add bottom padding

.padded-bottom{
	padding-bottom: 15px !important;
}

// Adding the option for an opaque panel

.panel-transparent {
    background: none;
    border: none;
}

.panel-transparent .panel-heading{
	font-family: 'Poiret One', cursive;
    background: #222 !important;
    border: #090909 !important;
    color: #9d9d9d !important;
}

.panel-transparent .panel-body{
    background: rgba(225, 225, 225, 0.5)!important;
}

.panel-transparent .table{
    background: rgba(225, 225, 225, 0.5)!important;
}

.panel-transparent .table th{
    background: rgba(225, 225, 225, 0.6)!important;
    border: none;
}

.panel-transparent h1, h2, h3{
	font-family: 'Poiret One', cursive;
    color: #ffffff !important;
}

// Making the text of SimpleForm labels white

.simple_form label {
    color: #ffffff
}

// Changing Bootstrap primary buttons to purple

.btn-primary {
  color: #fff;
  background-color: #330066;
  border-color: #330066;
}

.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #330066 !important;
  border-color: #330066 !important;
}
.btn-primary:hover {
  color: #fff;
  background-color: #330066 !important;
  border-color: #330066 !important;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #330066 !important;
  border-color: #330066 !important;
}

//Styling for buttons on the static homepage

.btn-home {
  color: #fff;
  background-color: #4700B2;
  border-color: #4700B2;
}

.btn-home:focus,
.btn-home.focus {
  color: #fff;
  background-color: #4700B2;
  border-color: #4700B2;
}
.btn-home:hover {
  color: #fff;
  background-color: #4700B2;
  border-color: #4700B2;
}
.btn-home:active,
.btn-home.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #4700B2;
  border-color: #4700B2;
}



