<h1>You tied with the computer!</h1>

<%= image_tag '/assets/games/tie.jpg' %>

<h2><%= image_tag "/assets/rock_paper_scissors/#{@computer_hand}.jpeg" %> ties with <%= image_tag "/assets/rock_paper_scissors/#{@chosen_hand}.jpeg" %></h2>
