<h1>Yay! You won!</h1>

<%= image_tag '/assets/games/cat-wins.gif' %>

<h2><%= image_tag "/assets/rock_paper_scissors/#{@chosen_hand.to_s}.jpeg" %> beats <%= image_tag "/assets/rock_paper_scissors/#{@computer_hand.to_s}.jpeg" %></h2>
