<%= render @outcome_partial %>

<h4>
  Your chosen hand was <%= @chosen_hand %>
</h4>

<h4>
  The computer chose <%= @computer_hand %>
</h4>

<h3>
  <%= link_to "PLAY AGAIN", new_rock_paper_scissor_path %>
</h3>
